body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f2f5;
  
   
}
.contain,h1{
color: #0866ff;
font-size: 3.5rem;
font-weight: 790;
font-family: Helvetica, Arial, sans-serif;
margin-top:3px ;
margin-left:-10px;

}

.head #h1{
    font-size: 25px;
    line-height: 32px;
    text-align: center;
    color: #1c1e21;
    margin: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
.head p{
   font-size: 15px;
   margin-top: -13px;
   display: flex;
   flex-direction: column;
   line-height: 24px;
   color:#606770;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.head{
    border: 1px solid #ffffff;
    background-color: #fff;
   width: 425px;
   display:flex;
   flex-direction: column;
   border-radius: 8px;

  
}

.detail{
    
    border-top:1px solid #ccd0d5;
    margin-top: -3px;
    
}
.detail #firstName{
    margin-top: 17px;
    margin-left: 16px;
    margin-right: 6px;
    height:20px ;
    width: 40%;
    color:#1c1e21 ;
    border: 1px solid #ccd0d5;
    border-radius: 5px ;
    padding: 11px;
   font-size: 15px;
   font-family: Arial, Helvetica, sans-serif;
}

.detail #firstName:focus-visible{
outline: #ccd0d5;
}

.detail #Surname{
    margin-top: 17px;
    height:20px ;
    width: 40%;
    color:#1c1e21 ;
    border: 1px solid #ccd0d5;
    border-radius: 5px ;
    padding: 11px;
   font-size: 15px;
   font-family: Arial, Helvetica, sans-serif;
}

.detail #Surname:focus-visible{
outline: #ccd0d5;
}

.detail #number:focus-visible{
    outline: #ccd0d5;
    }

    .detail #password:focus-visible{
        outline: #ccd0d5;
        }

        .detail #date:focus-visible{
            outline: #ccd0d5;
            }

#number{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    height:20px ;
    width: 88%;
    color:#1c1e21 ;
    border: 1px solid #ccd0d5;
    border-radius: 5px ;
    padding: 11px;
   font-size: 15px;
   font-family: Arial, Helvetica, sans-serif;
}
#password{
    margin-bottom: 10px;
    margin-left: 15px;
    height:20px ;
    width: 88%;
    color:#1c1e21 ;
    border: 1px solid #ccd0d5;
    border-radius: 5px ;
    padding: 11px;
   font-size: 15px;
   font-family: Arial, Helvetica, sans-serif;
}

#dob{
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px ;
    margin-top: 2px;
    margin-left: 15px;

}
#date{
margin-left: 15px;
margin-bottom: 10px;
margin-top: 8px;
height:35px;
width: 29%;
color:#1c1e21;
border: 1px solid #ccd0d5;
  border-radius: 5px;

}

#month{
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 8px;
    height:35px;
    width: 29%;
    color:#1c1e21;
    border: 1px solid #ccd0d5;
      border-radius: 5px;
    
    }

    #year{
        margin-left: 10px;
        margin-top: 8px;
        margin-bottom: 10px;
        height:35px;
        width: 29%;
        color:#1c1e21;
        border: 1px solid #ccd0d5;
          border-radius: 5px;
        
        }

        #gen{
                font-family: Arial, Helvetica, sans-serif;
                font-size:12px ;
                margin-top: 2px;
                margin-bottom: 10px;
                margin-left: 15px;
                display: flex;
                flex-direction: column;
            
        }

#gender{
        font-family: Arial, Helvetica, sans-serif;
        font-size:12px ;
        margin-top: 2px;
        margin-left: 15px;
}
        
        .container{
            display: flex;
            margin-top: 8px;
            flex-direction: row;
            justify-content: space-between;
            color: #1c1e21;
           font-size: 15px;
        height: 35px;
            font-family: Arial, Helvetica, sans-serif;

        }
        
        .gen-btn{
            border: 1px solid #ccd0d5 ;
            width: 100%;
           border-radius: 5px;
           padding: 15px;
           display: flex;
           align-items: center;
           margin-left:15px;
           justify-content: space-between;
        }

        .male-btn{
            border: 1px solid #ccd0d5 ;
            width: 350px;
           border-radius: 5px;
           padding: 12px;
           display: flex;
           align-items: center;
           margin-left:14px;
           justify-content: space-between;
        }

        .custom-btn{
            border: 1px solid #ccd0d5 ;
            width: 520px;
           border-radius: 5px;
           padding: 12px;
           display: flex;
           align-items: center;
           margin-left:14px;
           justify-content: space-between;
           margin-right: 10px;
        }

        .para{
            
           color: #777;
           font-size: 14px;
           font-family: Arial, Helvetica, sans-serif;
           margin: 10px;
           justify-content: center;
        }

        #link-btn{
          text-decoration: none;
          color:#3872c3;
        }
        #link-btn:hover{
            text-decoration: underline;
        }
        #link-btn:focus{
            color:#3872c3;
        }

        .para-2{
            color: #777;
            font-size: 13.5px;
            font-family: Arial, Helvetica, sans-serif;
            margin: 10px;
            justify-content: center;
        }

        #submit{
            display: flex;
            justify-content: center;
         min-width:195px;
          height: 38px;
          font-size: 18px;
          font-weight: bold;
          color: #fff;
          background-color:#00a400;
          padding: 10px 32px;
          margin: 10px 115px;
          border-radius: 6px;
          border:1px solid #00a400 ;
          font-family:Arial, Helvetica, sans-serif;
        }

        #acc-button{
            color: #1877f2;
            font-size: 17px;
         display: flex;
         margin-top:20px ;
         margin-bottom: 25px;
         justify-content: center;
         text-decoration: none;
         font-family: Arial, Helvetica, sans-serif;
        }
        

        /* ------------------------------Responsive------------------------------------------- */


        @media (min-width:370px) and (max-width:435px){
            body{
                width: 100%;
                height: 100%;
            }
            .contain{
                width: 100%; 
                padding: 1vh;
                margin: 0;
            }
            .contain h1{
                width: 100%;
                margin: 0;
                font-size: 5.5vh;
               justify-content: center;
               text-align: center;
            }
            .head{
                width: 100%;
                height: 100%;
                padding: 0vh;
                justify-content: center;
            }
           .detail{
            width: 100%;
                height: 100%;
                padding: 0vh;
                justify-content: center;
           }
          #submit{
            text-align: center;
           margin-left: 15vh;
          }
        }


        
        @media (min-width:270px) and (max-width:369px){
            body{
                width: 100%;
                height: 100%;
            }
            .contain{
                width: 100%; 
                padding: 1vh;
                margin: 0;
            }
            .contain h1{
                width: 100%;
                margin: 0;
                font-size: 5vh;
               justify-content: center;
               text-align: center;
            }
            .head{
                width: 100%;
                height: 100%;
                justify-content: center;
            }
           .detail{
            width: 100%;
                height: 100%;
                padding: 0vh;
                justify-content: center;
           }
          #submit{
            text-align: center;
           margin-left: 7.5vh;
          }

          .detail #firstName{
            width: 35%;
          }
          .detail #Surname{
           width: 35%;
          }
          #number{
           width: 80%;
          }
          #password{
            width: 80%;
          }
          #date{
            width: 25%;
          }
          #month{
            width: 25%;
          }
          #year{
            width: 25%;
          }
          .container{
            padding: 1vh;
          }
          .gen-btn label{
            margin: 0;
          }
          .gen-btn{
            margin: 0;
            width: 22%;
          }
          .male-btn{
            margin:0;
            margin-left: 1vh;
            width: 22%;
          }
          .custom-btn{
            margin:0;
            margin-left: 1vh;
            width: 23%;
          }

          
        }